# Gateway
GATEWAY_PORT=3000

# Users DB
USERS_DB_HOST=localhost
USERS_DB_PORT=5433
USERS_DB_USER=postgres
USERS_DB_PASSWORD=postgres
USERS_DB_NAME=users_db

# Notes DB
NOTES_DB_HOST=localhost
NOTES_DB_PORT=5434
NOTES_DB_USER=postgres
NOTES_DB_PASSWORD=postgres
NOTES_DB_NAME=notes_db

# NATS
NATS_URL=nats://localhost:4222
NATS_USER=nats
NATS_PASS=natspassword

# Auth
JWT_SECRET=your_secret_here
